
@media screen and (max-width: 1000px) {
    body{
        padding: 0;
    }

    aside{
        width: inherit;
    }
    #periodictable_section{
        position: absolute;
    }



    div.element-characteristics{
        height: 600px;
    }

    .periodic-table-footer{
        padding-top: 120vh;
        width: 1800px;
    }

}

@media screen and (max-height: 800px) {
    .periodic-table-footer{
        padding-top: 1000px;
    }

}

